@page
@model isgood.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<dialog open>
  <article>
    <h3>Delete product?</h3>
    <p>
      The product can't be restored after deletion!
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.Barcode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.ProductName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Categories)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.Categories)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Countries)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Product.Countries)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.BestBefore)
                </td>
                <td>
                    @if (Model.Product.BestBefore < DateTime.Now.AddDays(Convert.ToDouble(Model.ProductConfiguration.BestBeforeWarnDelta)))
                    {
                        <mark>@Html.DisplayFor(model => model.Product.BestBeforeDateOnly)</mark>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Product.BestBeforeDateOnly)
                    }
                </td>
            </tr>

        </tbody>
    </table>
    <footer>
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" />
        <a asp-page="./Index">⏎ Back to List</a>
    </form>
    </footer>
  </article>
</dialog>
⏎