@page
@model isgood.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>

    <div class="grid">
        <div>
            <figure>
                <img
                    src="@Html.DisplayFor(model => model.Product.ImageUrl)"
                />
            </figure>
        </div>

        <div>
            <table role="grid">
                <thead>
                    <tr>
                        <th>
                            Property
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.Id)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.Barcode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.Barcode)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.ProductName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.Categories)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.Categories)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.Countries)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.Countries)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.BestBefore)
                        </td>
                        <td>
                            @if (Model.Product.BestBefore < DateTime.Now.AddDays(Convert.ToDouble(Model.ProductConfiguration.BestBeforeWarnDelta)))
                            {
                                <mark>@Html.DisplayFor(model => model.Product.BestBeforeDateOnly)</mark>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Product.BestBeforeDateOnly)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.ScannedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.ScannedAtDateOnly)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Product.NotifiedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Product.NotifiedAtDateTime)
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="grid">
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">
            <button>Edit</button>
        </a>
    </div>
    <div>
        <a asp-page="./Delete" asp-route-id="@Model.Product?.Id">
            <button>Delete</button>
        </a>
    </div>
    <div>
        <a asp-page="./Index">
            <button>⏎ Back to List</button>
        </a>
    </div>
</div>