@page
@model Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<div>
    <h2>Products</h2>

    <figure>
        <table role="grid">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Products[0].Barcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products[0].ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products[0].Categories)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products[0].BestBefore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products[0].ScannedAt)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories)
                        </td>
                        <td>
                            @if (item.BestBefore <
                           DateTime.Now.AddDays(Convert.ToDouble(Model.ProductConfiguration.BestBeforeWarnDelta)))
                            {
                                <mark>@Html.DisplayFor(modelItem => item.BestBeforeDateOnly)</mark>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.BestBeforeDateOnly)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScannedAtDateOnly)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">
                                <button>Edit</button>
                            </a>
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                <button>Details</button>
                            </a>
                            <a asp-page="./Delete" asp-route-id="@item.Id">
                                <button>Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </figure>
</div>
